[project]
	description = 1st 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jayasham
[access "refs/for/refs/*"]
	read = group user/jayasham
	push = group user/jayasham
	label-Code-Review = -2..+2 group user/jayasham
	label-Verified = -1..+1 group user/jayasham
	rebase = group user/jayasham
	removeReviewer = group user/jayasham
	submit = group user/jayasham
[access "refs/heads/*"]
	read = group user/jayasham
	create = group user/jayasham
	push = +force group user/jayasham
	pushMerge = group user/jayasham
[access "refs/tags/*"]
	push = group user/jayasham
	push = +force group user/jayasham
